@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  background-color: rgba(255, 255, 255, 0.87);
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
}

a {
color: #5B5B5B;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 542;
line-height: normal;
letter-spacing: -0.048px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

